dist
build
bin
target
reports
.pmd
*/.settings/com.springsource.server.ide.jdt.core.prefs
/tests/
/coverage/
/cobertura.ser
MANIFEST.MF
*.class
*.jar
*.zip
*.bak
*/target/*
/.idea/
/.settings/
**/*.iml
/*.log
